In [11]:
import pandas as pd
pd.set_option('display.max_columns', 300)
from pickle import load
from sklearn.linear_model import LinearRegression
import model 
import data_clean as dc

ModuleNotFoundError: No module named 'model'

## Step 1: Read in hold out data, scalers, and best model

In [2]:
holdout = pd.read_csv('./data/kc_house_data_test_features.csv', index_col=0)

In [9]:
# final_scaler = read_pickle(filename)
final_model = load(open("./code/model.pkl","rb"))

## Step 2: Feature Engineering for holdout set

Remember we have to perform the same transformations on our holdout data (feature engineering, extreme values, and scaling) that we performed on the original data.

In [10]:
holdout = dholdout.drop(columns = 'Unnamed: 0')

holdout['bathrooms'] = holdout.bathrooms.apply(lambda x: 1 if x < 1 else x)

holdout['bedrooms'] = holdout.bedrooms.apply(lambda x: 3 if x == 33 else x)

holdout['bedrooms'] = holdout.bedrooms.apply(lambda x: 1 if x < 1 else x)

holdout['grade'] = holdout.grade.apply(lambda x: 4 if x < 4 else x)

holdout['adjprice'] = dc.price_adjust(data.price)

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,1974300020,20140827T000000,4,2.50,2270,11500,1.0,0,0,3,8,1540,730,1967,0,98034,47.7089,-122.241,2020,10918
1,1974300020,20150218T000000,4,2.50,2270,11500,1.0,0,0,3,8,1540,730,1967,0,98034,47.7089,-122.241,2020,10918
2,3630020380,20141107T000000,3,2.50,1470,1779,2.0,0,0,3,8,1160,310,2005,0,98029,47.5472,-121.998,1470,1576
3,1771000290,20141203T000000,3,1.75,1280,16200,1.0,0,0,3,8,1030,250,1976,0,98077,47.7427,-122.071,1160,10565
4,5126310470,20150115T000000,4,2.75,2830,8126,2.0,0,0,3,8,2830,0,2005,0,98059,47.4863,-122.140,2830,7916

## Step 3: Predict the holdout set

In [ ]:
# final_answers = final_model.predict(transformed_holdout)

## Step 4: Export your predictions

In [ ]:
# final_answer.to_csv('housing_preds_your_name.csv')